.footer{
    position: relative;
    padding-top: 56px;
    padding-bottom: 56px;
}
.h2{
    margin-bottom: 36px;
}

@media screen and (min-width:1440px) {
    .wrapperContentFooter{
        display: flex;
        justify-content: space-between;
    }
    
}