.footer {
	position: relative;
	padding-top: 56px;
	padding-bottom: 56px;
}
@media screen and (min-width: 768px) {
	.footer {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}
@media screen and (min-width: 1440px) {
	.footer {
		padding-top: 104px;
		padding-bottom: 104px;
	}
}

.h2 {
	margin-bottom: 36px;
}
@media screen and (min-width: 1440px) {
	.h2 {
		margin-bottom: 74px;
	}
}

@media screen and (min-width: 1440px) {
	.wrapperContentFooter {
		display: flex;
		justify-content: space-between;
	}
}
