.listDescriptions {
	display: flex;
	width: 181px;
	flex-direction: column;
	gap: 16px;
	justify-content: flex-end;
}
@media screen and (min-width: 768px) {
	.listDescriptions {
        width: 225px;

		justify-content: flex-start;
        gap: 24px;
	}
}
@media screen and (min-width: 1440px) {
	.listDescriptions {
        width: fit-content;

		justify-content: flex-start;
        gap: 24px;
	}
}
.description {
	font-size: 12px;
	font-weight: 200;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: right;

    display: flex;
    flex-direction: column;
    gap: 8px;

}
@media screen and (min-width: 1440px) {
	.description {
		flex-direction: row;
		gap: 24px;
	}
	.description p{
		width: 285px;
		text-align: left;
	}

}

@media screen and (min-width: 768px) {
    .largGap {
gap: 28px;}}